.hero {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    &__container {
        width: 60%;
    }
    &__title {
        font-size: 36px;
    } 
    &__description {
        font-size: 16px;
    }
    &--homepage {
        background-color: red;
    }
}