.navBar {
    &__list {
        display: flex;
        align-items: center;
    }
    &__link {
        text-decoration: none;
    }
    &__icon {
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 100%;
        color: $black;
    }
    &--red {
        background-color: red;
    }
}
